<div class="event">
  <div class="event__inner container">
    <h3 class="event__title h3">Эксклюзивный доступ к событиям Самокатов</h3>

    <p class="event__tx tx-primary">
      С абонементом — у вас доступ к специальным мероприятиям, скидки и классный мерч. В 2023 году
      мы танцевали на Даче Плюс с Антохой MC, катались на самокатах с Сергеем Мезенцевым и слушали
      хор Attaque de Panique
    </p>
  </div>

  <!-- <img class="event__img" src="event.webp" alt="event" />

  <div class="event__icons">
    <img class="event__icon--sticks" src="sticks-icon.svg" alt="sticks" />
    <img class="event__icon--location" src="location-icon.svg" alt="location" />
    <img class="event__icon--cup" src="cup-icon.svg" alt="cup" />
  </div> -->
</div>
