<div class="part container">
  <h2 class="part__title">Вот что даёт участие в клубе</h2>

  <div class="part__grid">
    <div class="part__inner">
      <img class="part__icon" src="start-icon.svg" alt="start" />

      <p class="part__tx tx-primary">0₽ за старт в каждой поездке</p>
    </div>

    <div class="part__inner">
      <img class="part__icon" src="friends-icon.svg" alt="samokat" />

      <p class="part__tx tx-primary">
        Катаетесь с друзьями? Бронируйте до трёх самокатов с аккаунта с абонементом — так у всех
        будет бесплатный старт
      </p>
    </div>

    <div class="part__inner">
      <img class="part__icon" src="pause-icon.svg" alt="timer" />

      <p class="part__tx tx-primary">
        Бесплатная пауза 15 минут в поездке — например, чтобы зайти за кофе или передохнуть
      </p>
    </div>

    <div class="part__inner">
      <img class="part__icon" src="charge-icon.svg" alt="charge" />

      <p class="part__tx tx-primary">
        Если самокат недостаточно заряжен или с ним неудобно переходить дорогу, замените по пути на
        другой — это бесплатно
      </p>
    </div>
  </div>
</div>
