<div class="banner">
  <div class="banner__inner container">
    <div class="banner__left">
      <img class="banner__logo" src="logo.svg" alt="logo" />

      <h1 class="banner__title">
        Вступайте <br />
        в клуб Самокатов
      </h1>

      <p class="banner__descr">
        Купите абонемент, чтобы стать частью клуба в новом сезоне–2024. 8 месяцев за
        <span class="banner__new-price">499 ₽</span>
        <span class="banner__old-price">3190 ₽</span>
      </p>

      <button class="banner__btn btn">Стать частью клуба</button>
    </div>

    <div class="banner__right">
      <img class="banner__bg" src="samokat.webp" alt="samokat" />
    </div>
  </div>

  <div class="gradient">
    <div class="gradient__item gradient__item--first"></div>

    <div class="gradient__item gradient__item--second"></div>
  </div>
</div>
