<div class="aboniment container">
  <div class="aboniment__left">
    <h3 class="aboniment__title">Купить абонемент и вступить в клуб смогут те, кто в Плюсе</h3>

    <p class="aboniment__tx">
      За каждую поездку на самокатах такие пользователи получают кешбэк баллами. Баллы можно тратить
      на поездки на самокатах и такси с Яндекс Go, покупки и заказы в других сервисах Яндекса
    </p>
  </div>

  <div class="aboniment__right">
    <img class="aboniment__icon" src="plus-icon.svg" alt="plus" />
    <img class="aboniment__img" src="samokat-2.webp" alt="samokat" />
  </div>
</div>
